a:hover{
	color: orange;
}

h1{
    font-family: 'Bevan', cursive;
}

h2, h3,h4,a{
    font-family: 'Chewy', cursive;
}

p{
	font-family: 'Catamaran', sans-serif;
}

body {
	background-color: #e6e6e6;
}

.brand-logo {
	font-family: 'Bevan', cursive;
	margin-left: 10px;
}

.hide-on-med-and-down a{
	font-size: 150%;
}

.carousel .carousel-item {
	width:500px;
	padding-top: 100px;
}

.carousel a {
	text-align: center;
}



.home-s1 h1{
	text-align: center;
}

.home-s2 h2{
	text-align: center;
}

.home-s2 p{
	font-size: 150%;
}

.home-s2 article{
	border: 5px solid #66b3ff;
	background-color:  #f2f2f2;
}

.home-s2 aside{
	border: 5px solid orange;
	background-color:  #f2f2f2;
}

.home-s2-div {
	font-size: 150%;
	font-weight: bold;
}

.home-s2-li li{
	list-style-type: disc;
	margin-left: 30px;
}

.home-s1-h1 h1{
	color: #66b3ff;
}



.pf-carousel{
	border-top: 10px solid orange;
	border-bottom: 10px solid orange;
	margin-top: 50px;
}

.pf-s2 h1{
	text-align: center;
	color: #66b3ff;

}

.pf-s2 h3{
	padding-left: 10px;
}




.inline1 {
	display: flex;
	width: 100%;
}

.inline1 div {
	width: 50%;
}

.inline1 p{
	font-size: 150%;
	color: white;
}

.inline2 {
	display: flex;
	width: 100%;
}

.inline2 div {
	width: 99%;
}

.inline2 p{
	font-size: 150%;
}

.s2-border {
	border: 5px solid white;
	line-height: 160%;
	padding: 10px;
	margin:5px;
	background-color: #66b3ff;
}

.s2-border2 {
	border: 5px solid #66b3ff;
	line-height: 160%;
	padding: 10px;
	margin:5px;
	background-color: #f2f2f2;
}

.s2-border li {
	list-style-type: square;
	margin-left: 30px;

}

.s2-border a{
   font-family: 'Catamaran', sans-serif;
   font-size: 140%;
   color: #ffff99;
}






@media (max-width: 1036px) {
	.inline1{
		display: inline;
		width: 99%;
	}
	.inline1 div{
			width:99%;
		}
	.inline1 img{
		display: none;
	}
}